body {
    width: 100%;
    height: 100%;
}

.header {
    position: sticky;
    top: 0;
    padding-left: 30px !important;
    padding: 10px;
    height: 30px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    font-weight: bold;
}

img {
    width: 100%;
}

.slideframe {
    box-sizing: border-box;
    padding: 0 20px;
    padding-right: 100px !important;
    width: 100%;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
}

.slide {
    margin: 0 20px;
    padding: 10px;
    width: 200px;
    flex-shrink: 0;
}

.bold {
    font-weight: bold;
}

.main {
    margin-bottom: 100px;
}